<div class="well well-inner">
  <span class="user"><%= link_to board.name, board_path(board) %></span>

  <div class="categories well-footer">
    <%= board.description %>

    <% unless board.topics.empty? %>
      <div class="hidden-phone pull-right" style="margin-top: -10px;">
        <span class="user">
          <%= link_to board.latest_post.user.username, :root %> 
        </span>
        <%= time_ago_in_words(board.latest_post.created_at) %> ago.
      </div>
    <% end %>

  </div>
</div>
