<nav>
  <ul class="nav navigation">
    <%= link_to "Rails Forum", :root, id: "logo" %>
  </ul>

  <ul class="nav pull-right">
    <li><!-- <%= image_tag('rails.png', style: "width: 60%;") %> --></li>
  </ul>
</nav>
